<launch>
    <node name="pilot" pkg="line_follower" type="pilot.py" output="log"/>
    <node name="image_parcer" pkg="line_follower" type="image_parcer.py" output="log"/>
    <node name="line_finder" pkg="line_follower" type="line_finder.py" output="screen"/>
    <node name="PID" pkg="line_follower" type="PID.py" output="log"/>
</launch>